{% extends '_base.html' %}
​{% block content %}
<header style="display: flex;justify-content: space-between;">
    <h2>
        Book Detail
    </h2>
    <h3>
        <a href="{% url 'book_list' %}">book list</a>
    </h3>
</header>
<div>
    <p >title: {{book.title}}</p>
    <p >auther: {{book.auther}}}</p>
    <p >category: {{book.category}}</p>
    <p >isbn: {{book.isbn}}</p>
    <p >description: {{book.description}}</p>
    <p >enterd by: {{book.employee}}</p>
</div>
<div style="display: flex;justify-content: space-around;margin-top: 25px;">
    <a href="{% url 'book_update' book.pk %}">Update</a>
    <a href="{% url 'book_delete' book.pk %}">Delete</a>
</div>
{% endblock content %}